<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remeber it!</title>
    {%block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css') }}">
    {% endblock %}
</head>

<body>
    {% block nav %}
    <div class="container">
        <img src="https://via.placeholder.com/1440x300/DB8C5E/18D967?text=Logo">
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% block scripts %}
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    {% endblock %}
</body>

</html>